//Colors
$colorPrimary: #F5F5F2;
$colorSecondary: rgb(45, 53, 53);

$colorButton: deeppink;

//Typography
$fontFamily: 'Roboto', sans-serif;

$fontWeight_light: 300;
$fontWeight_regular: 400;
$fontWeight_medium: 500;
$fontWeight_bold: 700;

$fontSize_small: 14px;
$fontSize_medium: 16px;
$fontSize_title: 18px;