//Colors
$color_white: white;
$color_dirty: rgb(245, 245, 242);
$color_grey: lightgrey;
$color_dark_grey: rgb(45, 53, 53);
$color_black: black;
$color_pink: deeppink;
$color_dark_pink: rgb(139, 45, 89);

$color_primary: $color_dirty;
$color_secondary: $color_dark_grey;
$color_button: $color_pink;
$color_link: $color_dark_pink;

//Typography
$font_family: 'Roboto', sans-serif;

$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;

$font_size_small: 14px;
$font_size_medium: 16px;
$font_size_title: 18px;