@import '../../styles/core/variables';

.contact__wrapper {
  height: 100%;
  background-color: $color_secondary;
  color: $color_primary;
  font-size: $font_size_small;
}

.contact__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  @media all and (min-width: $bp_tablet) {
    justify-content: center;
  }
}

.contact__item:nth-child(2n) {
  @media all and (min-width: $bp_tablet) {
    padding-left: 40px;
  }
}

.contact__link {
  color: $color_primary;
  text-decoration: none;
  &:hover {
    color: $color_light_link;
  }
}
