@import '../../../../styles/core/variables';
@import '../../../../styles/core/mixins';

.detail__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 20px 80px;
  @include attenuate;
  @media all and (min-width: $bp_tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.detail__image {
  width: 230px;
  @media all and (min-width: $bp_tablet) {
    width: 300px;
  }
  border-radius: 5px;
  box-shadow: 0 0 10px $color_grey;
}

.detail__common--text {
  font-size: $font_size_medium;
  font-weight: $font_weight_regular;
  margin: 0;
  padding: 10px 0;
  @media all and (min-width: $bp_tablet) {
    font-size: $font_size_big;
    padding: 20px 0;
  }
}

.detail__common--list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detail__text--wrapper {
  padding: 20px 0 0 0;
  @media all and (min-width: $bp_tablet) {
    padding: 0 0 0 60px;
  }
  max-width: 350px;
}
