@import '../../styles/core/variables';
@import '../../styles/core/mixins';

.search__character--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: $bp_tablet) {
    flex-direction: row;
    justify-content: center;
  }
  padding: 20px 0;
}

.search__single--wrapper {
  display: flex;
}

.search__label--character {
  display: none;
}

.search__input--character {
  padding: 0 5px;
  border: 1px solid $color_grey;
  border-right: none;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  height: 30px;
  width: 140px;
  @media all and (min-width: $bp_tablet) {
    width: 200px;
  }
  background-color: $color_primary;
  transition: background-color ease 1s;
  &:focus {
    background-color: $color_white;
    outline-width: 0;
  }
}

.search__button--character {
  @include button-style($color_button, $color_primary);
  border-radius: 0 3px 3px 0;
}

.search__all--wrapper {
  margin: 10px 0;
  @media all and (min-width: $bp_tablet) {
    margin: 0;
    &:nth-child(even) {
      margin-left: 10px;
    }
  }
}

.search__button--allcharacters {
  @include button-style($color_button, $color_primary);
}

.fa-search {
  color: $color_primary;
}
