@import './styles/core/variables';

body {
  margin: 0;
  padding: 0;
  font-family: $font_family;
  background-color: $color_primary;
  color: $color_secondary;
}

.main__marvel {
  height: 95vh;
}

.footer__marvel {
  height: 5vh;
  width: 100%;
  position: fixed;
}